# Environment
.env
.venv
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets
data/raw/
data/processed/

# Models and large files
# Allowed tracking of saved models for cloud deployment

# Jupyter Notebooks
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
results/saved_models/scratch_cnn.h5  